body {
    background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed;
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.control-label{
    max-width:35% !important;
}
.error{
    color:red;
}
.log_out{
    position: absolute;
    right: 0;
    top: 0;
    width:90px;
    height:30px;
    border-radius: 50px;
    background: red;
    text-align: center;
    line-height: 30px;
}
.log_out a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.log_out a:hover{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.red_border{
    border:1px solid red !important;
}
.edit_user{
    position: relative;
    cursor: pointer;
}
.edit_div{
    position: absolute;
    left:0;
    bottom:0;
    width: 500px;
}
.cv{
    position: relative;
    border: 1px solid #212529;
    border-radius: 20px;
    padding: 5px;
    padding-right:45px;
    margin: 0 0 15px 15px;
    width: 285px;
}
.cls{
    position: absolute;
    display: none;
    left:88%;
    bottom: 0%;
    background-image: url("../images/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.cv:hover .cls{
    display: block;
}